<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.ssm.mapper.ArticleClassfyMapper" >
  <resultMap id="BaseResultMap" type="com.zking.ssm.model.ArticleClassfy" >
    <constructor >
      <idArg column="article_classfy_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="article_classfy_name" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    article_classfy_id, article_classfy_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_article_classfy
    where article_classfy_id = #{articleClassfyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_article_classfy
    where article_classfy_id = #{articleClassfyId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zking.ssm.model.ArticleClassfy" >
    insert into t_article_classfy (article_classfy_id, article_classfy_name
      )
    values (#{articleClassfyId,jdbcType=INTEGER}, #{articleClassfyName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zking.ssm.model.ArticleClassfy" >
    insert into t_article_classfy
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="articleClassfyId != null" >
        article_classfy_id,
      </if>
      <if test="articleClassfyName != null" >
        article_classfy_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="articleClassfyId != null" >
        #{articleClassfyId,jdbcType=INTEGER},
      </if>
      <if test="articleClassfyName != null" >
        #{articleClassfyName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.ssm.model.ArticleClassfy" >
    update t_article_classfy
    <set >
      <if test="articleClassfyName != null" >
        article_classfy_name = #{articleClassfyName,jdbcType=VARCHAR},
      </if>
    </set>
    where article_classfy_id = #{articleClassfyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.ssm.model.ArticleClassfy" >
    update t_article_classfy
    set article_classfy_name = #{articleClassfyName,jdbcType=VARCHAR}
    where article_classfy_id = #{articleClassfyId,jdbcType=INTEGER}
  </update>
</mapper>