<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.ssm.mapper.DownloadMapper" >
  <resultMap id="BaseResultMap" type="com.zking.ssm.model.Download" >
    <constructor >
      <idArg column="download_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="resource_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="last_update_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    download_id, user_id, resource_id, last_update_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_download
    where download_id = #{downloadId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_download
    where download_id = #{downloadId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zking.ssm.model.Download" >
    insert into t_download (download_id, user_id, resource_id, 
      last_update_date)
    values (#{downloadId,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT}, #{resourceId,jdbcType=INTEGER}, 
      #{lastUpdateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.ssm.model.Download" >
    insert into t_download
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="downloadId != null" >
        download_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="resourceId != null" >
        resource_id,
      </if>
      <if test="lastUpdateDate != null" >
        last_update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="downloadId != null" >
        #{downloadId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="resourceId != null" >
        #{resourceId,jdbcType=INTEGER},
      </if>
      <if test="lastUpdateDate != null" >
        #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.ssm.model.Download" >
    update t_download
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="resourceId != null" >
        resource_id = #{resourceId,jdbcType=INTEGER},
      </if>
      <if test="lastUpdateDate != null" >
        last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where download_id = #{downloadId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.ssm.model.Download" >
    update t_download
    set user_id = #{userId,jdbcType=BIGINT},
      resource_id = #{resourceId,jdbcType=INTEGER},
      last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP}
    where download_id = #{downloadId,jdbcType=INTEGER}
  </update>
</mapper>